@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Chewy&display=swap");
.font_Chewy {
  font-family: "Chewy", system-ui;
}
.font_Balsamiq {
  font-family: "Balsamiq Sans", sans-serif;
}
.left_right_keyfram{
animation: dino 5s infinite linear, dinoY 5s infinite linear;
}
@keyframes dino {
  0%{
    left: -10%;
  }
  50%{
    left: 50%;
  }
  100%{
    left: 100%;
  }
  
}
@keyframes dinoY {
 0% {
  bottom: -4%;
 }
 10% {
  bottom: 10%;
 }
 20%{
  bottom: -4%;
 }
 30%{
  bottom: 10%;
 }
 40%{
  bottom: -4%;
 }
 50%{
  bottom: 10%;
 }
 60%{
  bottom: -4%;
 }
 70%{
  bottom: 10%;
 }
 80%{
  bottom: -4%;
 }
 90%{
  bottom: 10%;
 }
 100%{
  bottom: -4%;
 }

}
@media (max-width:1024px) {
  .hero_section_left_box{
    position: relative;
    animation: boxAnimation 2s linear ;
  }
  @keyframes boxAnimation {
    0%{
      left: -100%;
    }
    100%{
      left: 0;
    }
  }
  .hero_section_right_box{
    position: relative;
    animation: boxTwo 2s;
  }
  @keyframes boxTwo {
    0%{
      right: -100%;
    }
    100%{
      right: 0;
    }
  }
  .animate_circle_box{
    position: relative;
    animation: circleBox 10s infinite linear , circleRotate 10s infinite linear;
  }
  @keyframes circleRotate {
    0%{
      rotate: 0deg;
    }
    100% {
      rotate: 360deg;
    }
  }
  @keyframes circleBox {
    0%{
      left: -110%;
    }
    25%{
      left: 0;
    }
    50%{
      left: 0;
    }
    100%{
      left: 200%;
    }
  }

  .keyfram-line{
    animation: line 3s ;
  }
  @keyframes line {
    0%{
      top: -100%;
    }
    100%{
      top: 0;
    }
  }
}
@media (max-width:768px ) {
  .animate_circle_box{
    animation: none , circleRotate 10s infinite linear !important;
  }
  @keyframes circleRotate {
    0%{
      rotate: 0deg;
    }
    25%{
      rotate: 360deg;
    }
    50%{
      rotate: 180deg;
    }
    75%{
      rotate: 270deg;
    }
    100%{
      rotate: 0deg;
    }
  }
  .hero_dino_images{
    animation: none;
  }
  
  
}
@media (max-width:640px) {
  .max_sm_align_start{
    align-items: start !important;
  }
}
@keyframes dinoY {
  0% {
   bottom: -4%;
  }

  30%{
   bottom: 5%;
  }
 
  60%{
   bottom: -4%;
  }
 
  90%{
   bottom: 5%;
  }
  100%{
   bottom: -4%;
  }
 
 }
@media (max-width:500px) {
  
 
  .max_xsm_w_150{
    width: 130px;
  }
}

@media (max-width:400px) {
  .translate_xs_80{
    transform: translateX(-80px) !important;
  }
  
    .max_xsm_translate-10{
      transform: translateX(-10px) !important;
    }
    .max_xsm_150px{
      max-width: 150px;
    }
    .max_xsm_translate_10{
      transform: translateX(10px);
    }
  
}

